week1basicsnsetup/2_docker_sql/output.csv
week1basicsnsetup/2_docker_sql/output.parquet
week1basicsnsetup/2_docker_sql/taxi+_zone_lookup.csv.1
# week1basicsnsetup/1_Terraform_GCP/.terraform.lock.hcl
# week1basicsnsetup/1_Terraform_GCP/terraform.tfstate
# week1basicsnsetup/1_Terraform_GCP/terraform.tfstate.backup
week1basicsnsetup/1_Terraform_GCP/.terraform/terraform.tfstate
week1basicsnsetup/2_docker_sql/zones_data.ipynb
week1basicsnsetup/1_Terraform_GCP/.terraform/providers
week1basicsnsetup/1_Terraform_GCP/.terraform/providers/registry.terraform.io/hashicorp/google/4.34.0/linux_amd64/terraform-provider-google_v4.34.0_x5
week1basicsnsetup/1_Terraform_GCP/.terraform/providers/registry.terraform.io/hashicorp/google/4.34.0/linux_amd64
week1basicsnsetup/1_Terraform_GCP/test.py

week2_data_ingestion/airflow/logs
week2_data_ingestion/airflow/.env
