week1basicsnsetup/2_docker_sql/output.csv
week1basicsnsetup/2_docker_sql/output.parquet
week1basicsnsetup/2_docker_sql/taxi+_zone_lookup.csv.1
week1basicsnsetup/1_Terraform_GCP/.terraform.lock.hcl
week1basicsnsetup/1_Terraform_GCP/terraform.tfstate
week1basicsnsetup/1_Terraform_GCP/terraform.tfstate.backup
week1basicsnsetup/1_Terraform_GCP/.terraform/terraform.tfstate
week1basicsnsetup/2_docker_sql/zones_data.ipynb